﻿@model TaxiBooking.ViewModels.CreateCarModel
@{
    ViewBag.Title = "Create";
}

<h3 class="text-primary">Create</h3>

<hr />

@using (Html.BeginForm("Save", "Cars"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.CarNo)
        @Html.TextBoxFor(m => m.CarNo, " " , new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CarNo, null, new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.CarColor)
        @Html.TextBoxFor(m => m.CarColor, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CarColor, null, new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.CarModel)
        @Html.TextBoxFor(m => m.CarModel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CarModel, null, new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.OwnerName)
        @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OwnerName, null, new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.CreatedAt)
        @Html.TextBoxFor(m => m.CreatedAt, " ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CreatedAt, null, new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.ExpiryDate)
        @Html.TextBoxFor(m => m.ExpiryDate, " ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ExpiryDate, null, new { @class = "text-danger" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}