﻿@model IEnumerable<TaxiBooking.Models.Car>
@{
    ViewBag.Title = "Index";
}

<h2 class="text-primary">Cars</h2>

<hr />

<a href="@Url.Action("Create")" class="btn btn-primary my-4"><i class="icofont-plus"></i> Add New</a>

@if (!Model.Any())
{

}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>Car No</th>
                <th>Car Color</th>
                <th>Car Model</th>
                <th>Expiry Date</th>
                <th>Car year of manufacture</th>
                <th>Owner name</th>
                <th>Attachment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <th>@Html.ActionLink(car.CarNo.ToString(), "Details", "Cars", new { id = car.Id }, null)</th>
                    <th>@car.CarColor</th>
                    <th>@car.CarModel</th>
                    <th>@car.ExpiryDate.ToString("MM/dd/yyyy")</th>
                    <th>@car.CreatedAt.ToString("MM/dd/yyyy")</th>
                    <th>@car.OwnerName</th>
                    <th>
                        <a href="@Url.Action("Attachment", "Cars", new {id = car.Id})" class="btn btn-primary"><i class="icofont-ui-image"></i> Attachment</a>
                    </th>
                    <th>
                        <a href="@Url.Action("Edit", "Cars", new {id = car.Id})" class="btn btn-primary"><i class="icofont-ui-edit"></i> Edit</a>
                        <a href="javascript:;" , class="btn btn-danger"><i class="icofont-ui-delete"></i> Delete</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}